## Regular Expressions(Reg Ex)
RegEx is a built-in package of python to use some special characters, digits, alphabets to create search patterns

import re

RegEx functions - search, findall, split, sub

Special Sequences

Metacharacters

Match Object - span string and group

In [29]:
import re
import pandas as pd

In [81]:
df = pd.read_excel('regex.xlsx').set_index('ID')
df.head()

                                          Description  Value
ID
0   Balke, Jeff (March 2008). "For Music Fans: Wik...   2000
1   Borland, John (August 14, 2007). "See Who's Ed...   2000
2   Dee, Jonathan (July 1, 2007). "All the News Th...   3000
3   Giles, Jim (September 20, 2007). "Wikipedia 2....     40
4   Miliard, Mike (December 2, 2007). "Wikipedia R...  50400

In [82]:
#create new column

df['Date'] = None
df

                                          Description  Value  Date
ID
0   Balke, Jeff (March 2008). "For Music Fans: Wik...   2000  None
1   Borland, John (August 14, 2007). "See Who's Ed...   2000  None
2   Dee, Jonathan (July 1, 2007). "All the News Th...   3000  None
3   Giles, Jim (September 20, 2007). "Wikipedia 2....     40  None
4   Miliard, Mike (December 2, 2007). "Wikipedia R...  50400  None
5   Poe, Marshall (September 1, 2006). "The Hive"....    300  None
6   Rosenwald, Michael S. (October 23, 2009). "Gat...    220  None
7   Runciman, David (May 28, 2009). "Like Boiling ...   2220  None

In [67]:
#set_index for columns

index_description = df.columns.get_loc('Description')
index_date = df.columns.get_loc('Date')

print(index_date, index_description)

3 1

In [79]:
#define pattern of date 
a = "October 10, 2023 kjchxlcndackjdahkcdahkcd November 11, 2022"
date_pattern = re.search("\w+\s\d{1,2},\s\d{4}", a).group()
                        
date_pattern

'October 10, 2023'

In [99]:
txt = "The rain in Spain"
x = re.search("^The.{9}Spain$", txt).group()
x

'The rain in Spain'